

/* header */

/* sony line */

header{
   position: relative;
}

.header-fixed{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 999;
}

.black-line-sony{
   background-color: black;
   height: 30px;
   width: 100%;
   text-align: end;
}

.black-line-sony a{
   padding: 5px;
}

.black-line-sony img{
   width: 80px;
}

/* /sony line */

.td-navbar-link{
   color: black !important;
}

.td-navbar-link:focus{
   color: #0570D1 !important;
}

.td-navbar-link:hover{
   color: #0570D1 !important;
}

.dt-nav-right{
   padding-right: 10px;
}

.td-header-button{
   background-color: black;
   
}

.search-lens img{
   width: 30px;
   padding-left: 10px;
}

/* /header */

/* first jumbotron */

.first-jumbo{
   background-image: url(../img/jumbo-bg.png);
   min-height: 675px; 
}

.jumbotron{
   background-position: center;
   margin-top: 100px;
   position: relative;
   
}

.jumbo-text{
   position: absolute;
   bottom: 50px;
   left: 0;
   width: 100%;
   color: white;
   padding-left: 20px;
}

.jumbo-text h3{
   font-size: 60px;
   margin-bottom: 35px;
}

.jumbo-text p{
   margin-bottom: 30px;
}

.jumbo-text img{
   width: 100%;
   margin-bottom: 50px;
   margin-left: -10px;
}

/* /first jumbotron */

/* copertine giochi */

.box-thumb-img img{
   width: 100%;
}

.box-thumb-img{
   margin-top: 30px;
   border-radius: 10px;
   overflow: hidden;
}

.box-thumb-img:hover{
   box-shadow: 0px 0 0 0.15rem #0570D1; 
   border: 1px solid white;
}

/* info ps5 */

 .info-ps5 h6{
   margin-bottom: -3px;
   color: #0570D1;
   text-transform: uppercase;
 }

 .info-ps5 h2{
   margin-bottom: 20px;
   font-size: 35px;
}

.info-ps5 p{
   color: gray;
}

   /* general intro*/

   .intro-ps5,
   .intro-ps4,
   .intro-store{
      text-align: center;
      padding-top: 40px;
   }

   .intro-ps4 h2,
   .intro-ps5 h2,
   .intro-store h2{
      margin-bottom: 20px;
      font-size: 35px;
   }


   .intro-ps4 p,
   .main-ps4 p,
   .intro-store p,
   .info-ps5 p{
      color: gray;
   }

   /* /general intro */

   /* console ps5 */

   .console-ps5{
      padding-top: 50px;
      width: 90%;
      margin: 0 auto;
   }

   .thumbs-ps5 p{
      text-align: center;
      font-size: 13px;
   }
   
   .text-console-ps5{
      margin-top: 150px;
   }

   .photo-console-ps5 img{
      width: 100%;
   }

   .thumbs-ps5 img{
      width: 80%
   }

   .thumbs-ps5 .box{
      opacity: 50%;
   }

   .thumbs-ps5 .box:hover{
      opacity: 100%;
      border-bottom: 2px solid #0570D1;
   }

   /* /console ps5 */
/* /info ps5 */
/* second jumbotron */

   .jumbotron.second-jumbo{
      background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
      min-height: 900px;
   }

   .jumbotron.second-jumbo .jumbo-text img{
      width: 70%;
   }

/* /second jumbotron */
/* nuove uscite */

   .nuove-uscite{
      background-color: #1F1F1F;
   }

   .nuove-uscite h6{
      padding-bottom: 10px;
   }

   .nuove-uscite .container-uscite{
      color: white;
      width: 100%;
      padding: 20px 20px 30px;
   }

   .second-box-thumb-img img{
      width: 100%;
      border-radius: 10px;
   }

   .second-box-thumb-img img:hover{
      box-shadow: 0px 0 0 0.15rem #0570D1; 
      border: 1px solid white;
   }

   .container-uscite p{
      font-size: 18px;
   }
   
/* /nuove uscite */
/* esplora ps4 */

.esplora-ps4{
   width: 100%;
   padding: 20px;
}


.main-ps4{
   padding-top: 50px;
}

.main-ps4 .box img{
   width: 100%;
}

/* /esplora ps4 */
/* ps-plus */

.ps-plus{
   width: 100%;
   padding: 0 20px;
   background-color: #BEBCBB;
   margin-top: 50px;
}

.text-ps-plus img{
   width: 80%;
   padding-top: 70px;
}

.text-ps-plus p{
   font-size: 22px;
   padding: 80px 0 50px;
}

.td-ps-plus-button{
   color: #0570D1;
   margin-bottom: 50px;
}

.monthly-game-ps-plus img{
   width: 100%;
   min-height: 500px;
}
/* /ps-plus */
/* sconti-store */

.store{
   width: 100%;
   padding: 0 20px;
}

.intro-store{
   padding: 50px 0;
}

.ps-store-sales img{
   width: 100%;
   
}

.ps-store-sales{
   margin-bottom: 40px;
}

/* /sconti-store */





/* footer */
footer{
   height: 200px;
   width: 100%;
   background-color: white;
}
/* /footer */

/* buttons */


.td-header-button:focus{
   box-shadow: 0px 0 0 0.15rem black; 
   border-color: white;
}

.td-jumbo-button:focus{
   box-shadow: 0px 0 0 0.15rem #DC3545; 
   border-color: white;
}

.td-console-button:focus{
   box-shadow: 0px 0 0 0.15rem #0570D1; 
   border-color: white;
}

.td-ps-plus-button:focus{
   box-shadow: 0px 0 0 0.15rem #D9DADC; 
   border-color: white;
   color: #0570D1;
}

.td-ps-plus-button:hover{
   color: #0570D1;
}


.td-button{
   border-radius: 20px;
}

